@use '../abstarcts/variables' as variables;

.login-container {
    min-height: calc(100vh - 80px);
    background-color: variables.$Black;
    color: variables.$White;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-form {
        width: 100%;
        max-width: 400px;
        background-color: variables.$Bordeaux;
        color: variables.$White;
        font-family: variables.$FontTexte;
        padding: 2rem 2.5rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input {
            font-size: 1rem;
            padding: 0.6rem;
            border-radius: 0.25rem;
        }

        .alert-danger {

            text-align: center;
        }
    }
}