{% extends 'base.html.twig' %}
{% block body %}
	<div class=" ">
		{{form_start(CaveBouteilleType)}}
		{{form_widget(CaveBouteilleType)}}
		<button class="">Valider</button>
		{{form_end(CaveBouteilleType)}}
	</div>

{% endblock %}
